body {
    background-image: url('https://plus.unsplash.com/premium_photo-1664116928607-896124327b11?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px #333;
  }
  